*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
   max-width: 100%;
   height: 37.5rem;
   flex-wrap: wrap;
   background-image: url("images/resizer.jpg");
   background-size: 100%  100%;
   
}
a{
   text-decoration: none;
}
.nav{
   max-width: 100%;
   height: 3rem;
   display: flex;
   
}
.logo {
   width: 20%;
   height: 3rem;
   border: 1px solid red;
   
}
ul {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    list-style: none;
    border: 1px solid red;
}
ul li {
   margin: 0 2rem;
}

ul li a {
    color: black;
    font-size: 2rem;
}

.menu {
   width: 100%;
   height: 150px;
}

.main-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   
}

.card {
   
   width: 270px;
   height: 400px;
   margin: 10px;
   border: 2px solid orange;    
}
.card-imag{
   background: aqua;
   height: 170px;
   margin-bottom: 15px;
   background-size: cover;
  
}  

.food1 {
   background-image: url("images/01.jpg");

}
.food2 {
   background-image: url("images/02.jpg");

}
.food3 {
   background-image: url("images/03.jpg");

}
.food4 {
   background-image: url("images/04.jpg");

}
.food5 {
   background-image: url("images/05.jpg");

}
.food6 {
   background-image: url("images/06.jpg");

}
.food7 {
   background-image: url("images/07.jpg");

}
.food8 {
   background-image: url("images/08.jpg");

}
.food9 {
   background-image: url("images/09.jpg");

}
.food10 {
   background-image: url("images/10.jpg");

}
.food11 {
   background-image: url("images/11.jpg");

}
.food12 {
   background-image: url("images/12.jpg");

}