*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.container{
   max-width: 100%;
   height: 12rem;
   flex-wrap: wrap;
  
}
a{
   text-decoration: none;
}

.contect  {
   max-width: 100%;
   height: 2rem;
   display: flex;
  

}
.Tel {
   width: 50%;
   height: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
  
}

.fa-solid {
   color: green;
}

.fa-solid:hover{
   display: block;
   color: orange;
}
.Social {
   width: 50%;
   height: 2rem;   
}

.Social ul li {
    margin: 0 0.5rem;
}

.logo {
   width: 100%;
   height: 6rem;
   display: flex;
   justify-content: center;
   align-items: center;
      
}
.piclogo {
   width: auto;
   height: auto;
   background-size: 100% 100%;
}

.piclogo img {
   flex-wrap: wrap;
   width: 80%;
   height: 6rem;
   object-fit: fill;
  
   

}

.nav{
   max-width: 100%;
   height: 4rem;
   display: flex;
   flex-wrap: wrap;
  
}

ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
ul li {
   margin: 0 2rem;
}

ul li a {
    color: black;
    font-size: 1.2rem;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
 li a:hover {  
   color: orange;  
}


.sider  {
   max-width: 100%;
   height: auto;
   flex-wrap: wrap;
   border: 1px solid red;
   

}
.mySlides {
   display:none;
}
   


.text { 
   width: 100%;
   height: 350px;
   border: 1px solid red;
}

.main-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      background: rgb(240, 236, 236);

   
}

.card {
   
   width: 270px;
   height: 400px;
   margin: 10px;
   border: 2px solid orange;    
}
.card-imag{
   background: aqua;
   height: 170px;
   margin-bottom: 15px;
   background-size: cover;
  
}  

.food1 {
   background-image: url("images/01.jpg");

}
.food2 {
   background-image: url("images/02.jpg");

}
.food3 {
   background-image: url("images/03.jpg");

}
.food4 {
   background-image: url("images/04.jpg");

}
.food5 {
   background-image: url("images/05.jpg");

}
.food6 {
   background-image: url("images/06.jpg");

}
.food7 {
   background-image: url("images/07.jpg");

}
.food8 {
   background-image: url("images/08.jpg");

}
.food9 {
   background-image: url("images/09.jpg");

}
.food10 {
   background-image: url("images/10.jpg");

}
.food11 {
   background-image: url("images/11.jpg");

}
.food12 {
   background-image: url("images/12.jpg");

}
.imfor {

   width: 100%;
   height:  400px;
}

.footer {
   max-width: 100%;
   height: 400px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   flex-basis: b;
   background: #333;
   
   
   
   border: 1px solid red;
}

.boxfoot {
   width: 100%;
   height: 400px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   font-size: 1.3rem;
   font-family: "Kanit", sans-serif;
   font-weight: 400;
   font-style: normal;
   color: orange;
   background: #333;
   border: 1px solid red;
}

.footmy {
   width: 280px;
   height: 400px;
   flex-direction: column;
   justify-content: left;
   border: 2px solid orange;   
      
}
.
.foot3 .hot1 {
   width: 280px;
   height: 300px;
   display: flex;
   flex-wrap: wrap;
}

                .div {
                     
                      width: 90px;
                      height: 90px;
                }
                .img {
                      width: 90px;
                      height: 90px;
                     }

@media  (max-width: 320px) {

   container{
      max-width: 100%;
      height: 12rem;
      flex-wrap: wrap;
     
   }
   a{
      text-decoration: none;
   }
   
   .contect  {
      max-width: 100%;
      height: 2rem;
      display: flex;
     
   
   }
   .Tel {
      width: 50%;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
     
   }
   
   .fa-solid {
      color: green;
   }
   
   .fa-solid:hover{
      display: block;
      color: orange;
   }
   .Social {
      width: 50%;
      height: 2rem;   
   }
   
   .Social ul li {
       margin: 0 0.5rem;
   }
   
   .logo {
      width: 100%;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
         
   }
   .piclogo {
      width: auto;
      height: auto;
      background-size: 100% 100%;
   }
   
   .piclogo img {
      flex-wrap: wrap;
      width: 80%;
      height: 6rem;
      object-fit: fill;
     
      
   
   }
   
   .nav{
      max-width: 100%;
      height: 4rem;
      display: flex;
      flex-wrap: wrap;
     
   }
   
   ul {
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       list-style: none;
   }
   ul li {
      margin: 0 2rem;
   }
   
   ul li a {
       color: black;
       font-size: 1.2rem;
       font-family: "Kanit", sans-serif;
       font-weight: 400;
       font-style: normal;
   }
    li a:hover {  
      color: orange;  
   }
   
   
   .sider  {
      max-width: 100%;
      height: auto;
      flex-wrap: wrap;
      border: 1px solid red;
      
   
   }
   .mySlides {
      display:none;
   }
      
   
   
   .text { 
      width: 100%;
      height: 350px;
      border: 1px solid red;
   }
   
   .main-container {
         display: flex;
         justify-content: center;
         flex-wrap: wrap;
         background: rgb(240, 236, 236);
   
      
   }
   
   .card {
      
      width: 270px;
      height: 400px;
      margin: 10px;
      border: 2px solid orange;    
   }
   .card-imag{
      background: aqua;
      height: 170px;
      margin-bottom: 15px;
      background-size: cover;
     
   }  
   
   .food1 {
      background-image: url("images/01.jpg");
   
   }
   .food2 {
      background-image: url("images/02.jpg");
   
   }
   .food3 {
      background-image: url("images/03.jpg");
   
   }
   .food4 {
      background-image: url("images/04.jpg");
   
   }
   .food5 {
      background-image: url("images/05.jpg");
   
   }
   .food6 {
      background-image: url("images/06.jpg");
   
   }
   .food7 {
      background-image: url("images/07.jpg");
   
   }
   .food8 {
      background-image: url("images/08.jpg");
   
   }
   .food9 {
      background-image: url("images/09.jpg");
   
   }
   .food10 {
      background-image: url("images/10.jpg");
   
   }
   .food11 {
      background-image: url("images/11.jpg");
   
   }
   .food12 {
      background-image: url("images/12.jpg");
   
   }
   .imfor {
   
      width: 100%;
      height:  400px;
   }
   
   .footer {
      max-width: 100%;
      height: 400px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-basis: b;
      background: #333;
      
      
      
      border: 1px solid red;
   }
   
   .boxfoot {
      width: 100%;
      height: 400px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      font-size: 1.3rem;
      font-family: "Kanit", sans-serif;
      font-weight: 400;
      font-style: normal;
      color: orange;
      background: #333;
      border: 1px solid red;
   }
   
   .footmy {
      width: 280px;
      height: 400px;
      flex-direction: column;
      justify-content: left;
      border: 2px solid orange;   
         
   }
   .
   .foot3 .hot1 {
      width: 280px;
      height: 300px;
      display: flex;
      flex-wrap: wrap;
   }
   
                   .div {
                        
                         width: 90px;
                         height: 90px;
                   }
                   .img {
                         width: 90px;
                         height: 90px;
                        }
   
                        
}