/*****ตั้งให้ชิดขอบ*****/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;  /*****ไม่ให้มีขีดใต้อักษร*****/
}

.contrainer {
    max-width: 100%;
    height: 150px;
    
}
   
.nav {
    max-width: 100%;
    height: 150px;
    display: flex;
    background:#007ac2;
    
}
.logo  {
   margin: 10px 10px;
   width: 10%;
   height: 80%;
   display: flex;
   background: white;
   justify-content: center;
   align-items: center;
   
}
.logo img {
     width: 100%;
     height: 100%;
    
}

.ulgrid {
    width: 100%;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto  auto;
    justify-content: center;
    align-items: center;
    
   
}
.ulgrid p {
    padding: 0  2rem;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size:1rem;
    font-family: "Sarabun";
    font-weight: 100;
    font-style: normal;
    font-size:1rem;
    color: #fff;
    font-weight: 400;
}
ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
   
    
}
ul li {
    margin: 0 1.5rem;
}

ul  li a {
        font-family: "Sarabun";
        font-weight: 100;
        font-style: normal;
        font-size:1rem;
        color: #fff;
        font-weight: 400;

}
li a:hover {
    
    background-color: green;
    color: white;
  }



 
    
